@media screen and (min-width:320px){
    .Lista_cocina {
      padding: 10px;
      max-width: 318px;
      width: 50%;
    }
  }
  
  @media screen and (min-width:480px){
    .Lista_cocina {
      padding: 1em;
      height: 100%;
      width: 100%;
    }
  }
  
  @media screen and (min-width:768px){
    .Lista_cocina {
      padding: 2em;
      height: 100%;
      width: 100%;
    }
  }
  
  @media screen and (min-width:1024px){
    .Lista_cocina {
      padding: 2em;
      height: 100%;
      width: 100%;
    }
  }
.Lista_cocina{
        width: 100%;
        max-width: 600px;
        padding: 45px;
        margin: auto;
        margin-top: 4%;
        height: 100%;
        text-align: center;
        background: #ffffff;
        -webkit-box-shadow: 0px 6px 79px 7px rgba(0,0,0,0.75);
       -moz-box-shadow: 0px 6px 79px 7px rgba(0,0,0,0.75);
       box-shadow: 0px 6px 79px 7px rgba(0,0,0,0.75);
        border-radius: 8px 8px 8px 8px;
        overflow: hidden;
        justify-content: center;
}

.conteinerOrden{
    margin: auto;
    padding: 10px;
    width: 100%;
    height: auto;
}
.comensal_1{
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  height: auto;
  background-color: #D1F366;
  justify-content: space-around;
  text-align: center;
  margin-right: 20px;
}
.comensal_2{
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  height: auto;
  background-color:#85ECF3;
  justify-content: space-around;
  text-align: center;
  margin-right: 20px;
}
.next{
    width: 80px;
    height: 80px;
    padding: 10px;
    margin: auto;
    display:flex;
   margin-top: 40px;
}
